@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

@import "tailwindcss";

/* 1. Definisikan Variabel Warna (CSS Variables) */
:root {
  font-family: "Merriweather", serif;

  /* Warna untuk Light Mode */
  --background: #ffffff;
  --foreground: #171717; /* Hampir hitam */

  --card: #f5f5f5;
  --card-foreground: #171717;
 
  --primary-foreground: #ffffff;

  --border: #e5e5e5;
}

/* 2. Override variabel saat masuk Dark Mode */
.dark {
  /* Warna untuk Dark Mode */
  --background: #0a0a0a; /* Hampir hitam */
  --foreground: #ededed; /* Hampir putih */

  --card: #171717;
  --card-foreground: #ededed;

  --primary: #3b82f6; /* Biru yang lebih terang agar kontras */
  --primary-foreground: #000000;

  --border: #262626;
}

/* 3. Daftarkan variabel ini ke Tailwind v4 */
@theme {
  /* Syntax: --color-<nama-class>: var(<nama-variabel>);
     Ini akan membuat class seperti: bg-background, text-foreground, border-card, dll.
  */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-border: var(--border);

  /* FOONT */
}

/* Utilitas dasar */
body {
  background-color: var(--background);
  color: var(--foreground);
}
